html{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
}

.containerPrincipal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
}

.principal{
    position: relative;
    display: inline-block;
    width: 900px;
    height: 700px;
    background-color: rgb(14, 14, 14);
    top: 50%;
    transform: translateY(20%);
    border: 2px;
    border-color: darkorange;
    border-style:solid;
    border-radius: 2%;
}

h1{
    margin: auto;
    margin-top: 30px;
    color: white;
    font-size: 50px;
    width: 70%;
}

.perfil{
    position: absolute;
    max-width: 30%;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
}

.txt{
    font-size: 17px;
    max-width: 55%;
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    color: white;
}

.redes{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-60%);
    margin: auto;
    color: white;
    list-style: none;
}

li{
    float: left;
    margin: 15px;
}

.listIcons{
    width: 42px;
}

@media screen and (max-width: 920px) {
    .principal{
        width: 600px;
        height: 700px;
    }

    .perfil{
        left: 50%;
        transform: translateX(-55%);
        top: 20%;
    }

    .txt{
        max-width: 80%;
        top: 67%;
        transform: translateY(-50%);
        color: white;
    }

    .redes{
        transform: translateX(-63%);
        bottom: 15px;
    }
}

@media screen and (max-width: 520px) {
    h1{
        font-size: 30px;
    }

    .listIcons{
        width: 32px;
    }
}

@media screen and (max-width: 450px) {
    .principal{
        width: 300px;
        height: 600px;
        transform: translateY(10%);
    }

    h1{
        margin-top: 30px;
        font-size: 25px;
        width: 70%;
    }

    .perfil{
        left: 50%;
        top: 15%;
    }

    .txt{
        width: 300px;
        top: 34%;
        transform: translateY(-50%);
        font-size: 13px;
        left: 50%;
        transform: translateX(-50%);
    }

    .redes{
        width: 150px;
        transform: translateX(-57%);
        bottom: 15px;
    }

    .listIcons{
        width: 32px;
    }
}

@media screen and (max-height: 740px) {
    .principal{
        transform: translateY(0.5%);
    }
}
